<html>
<head>
</head>
<body>

<h2>How to use?</h2>

curl -XPOST http://localhost:8124/logs -d'name=access_log&line=10.146.45.58 - - [11/Nov/2012:03:21:02 +0000] "GET / HTTP/1.1" 200 7505 "-" "ELB-HealthChecker/1.0"'

<h2>Recent logs</h2>
<% for(var i=0; i<logs.length; i++) {%>
  [<%= logs[i].name %>]: <%= logs[i].line %><br/>
<% } %>
</form>
</body>
</html>

